{
  "service": {
    "id": "kibana-{{hostnumber}}",
    "name": "kibana",
    "checks": [
      {
        "http": "http://{{ansible_eth0.ipv4.address}}:5601",
        "interval": "10s",
        "timeout": "1s"
      }
    ]
  }
}
