#!/bin/bash

export AWS_DEFAULT_REGION=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | jq -r '.region')

# query consul to find the instance id of a live fabio node
INSTANCE_ID=$(
  LEADER=$(dig +short fabio.service.consul | head -1)
  aws ec2 describe-instances \
    --filter Name=network-interface.addresses.private-ip-address,Values=$LEADER \
    --query 'Reservations[*].Instances[*].[InstanceId]' \
    --output text
)

# re-assign elastic ip to live fabio node
aws ec2 associate-address
  --public-ip {{load_balancer_public_ip}} \
  --instance-id $INSTANCE_ID
