# https://www.elastic.co/guide/en/elasticsearch/reference/current/heap-size.html
-Xms{{(ansible_memtotal_mb/2) | round | int}}m
-Xmx{{(ansible_memtotal_mb/2) | round | int}}m

# https://github.com/elastic/elasticsearch/issues/21932
-Dlog4j2.disable.jmx=true
